/vendor
/node_modules
Homestead.yaml
Homestead.json
.env*
artisan
bootstrap/
composer.lock
gulpfile.js
package.json
phpspec.yml
phpunit.xml
server.php
storage/
tests/
.DS_Store
._.DS_Store
public/uploads
._*
